* {margin: none; border: none;}
body {position: relative; background: #f2f2f2;}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.wrapper {

}
.window {
    width: 960px;
    overflow: hidden;
}
.images{
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
  }
.images > img {
    vertical-align: top;
}
.buttons {
    width: 380px;
    margin: 20px auto;
    margin-bottom: 0;
}
button {
    border-radius: 20%;
    width: 60px;
    margin: 0 6px; 
}
.red{
    color: red;
}
